@(playerName : String, crew : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Winning Like Someone who Wins a Lot</h1>
<p>You reach Valyria and load up on dragons.
    When you get back to Westeros the Queen rewards you with a monopoly on importing them.
    You rule happily ever after.
    The end for @playerName.
</p>
<form action="@routes.GameController.postStart" method="POST">
    @CSRF.formField
    <input type="submit" value="Play Again"/>
</form>
<form action="@routes.GameController.getWelcome" method="GET">
    @CSRF.formField
    <input type="submit" value="New Player"/>
</form>
<br><br><h2>@crew</h2>
<br>
<img src="/assets/images/dragons.jpg" height="300">
</body>
</html>
